

<!-- Map styles -->
<style type="text/css">
  /*html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: 50%; }*/

  .body{
  background-image:url(van.jpg)
}
  .tick_no {
    position: relative;
    top: 50px;
  }

  p {
    white-space: normal;
  }

  #sign_up {
    width: 100px;
    position: relative;
    left: 36%;
  }

  .title {
    color: #536b87;
    font-size: 4.3em;
    /*text-shadow: 1px 1px white, -1px -1px #444;*/
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
    text-shadow:1px 1px white,
             0 6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 1px 3px rgba(0,0,0,.3),
             0 3px 5px rgba(0,0,0,.2),
             0 5px 10px rgba(0,0,0,.25),
             0 10px 10px rgba(0,0,0,.2),
             0 20px 20px rgba(0,0,0,.15);
  }
  h3,h4 {
    color: white;
  }
  .checkins {
    float: left;
  }
  #btn_location, #btn_location_signout, #btn_location_with_timer {
    padding: 2px;
    margin: 3px;
  }
  #btn_location_with_timer {
    margin-bottom: 1px;
  }
  select {
    margin-top: 5px;
    margin-left: 5px;
  }
  .map_van {
    width: 75px;
    height: 75px;
    position: relative;
    left: 21%;
    margin: 3px;
    /*border-radius: 15px;*/
  }
  .map_van1 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 21%;
    margin: 3px;
    /*border-radius: 15px;*/
  }
  .fa-bullseye {
    position: relative;
    right: 18%;
  }
  .fa-map-marker {
    position: relative;
    right: 18%;
  }
  .ticket_explain, .checkin_explain{
    font-size: .5em;
    color: white;
  }
  .top_word {
    margin: 0px;
  }
  #you, #vanppl {
    margin: 0px;
    font-size: 1.8em;
  }
  #hour, #min {
    width: 35px;
    margin-bottom: 3px;
  }
  #btn_location_signout {
    float: right;
    position: absolute;
    top: 125px;
    padding: 0px;
  }
  #time {
    color: white;
  }

</style>
<body class="body">
<!-- Login if user is not signed in -->
      <% if !current_user.present? %>
<div class="row">
    <div class="col-xs-6">
      <h1 class="title text-center">Off with a Warning</h1>
        <h3 class="text-center">Login</h3>
          <%= form_tag sessions_path do %>
            <div class="form-inline">
              <div class="form-group">
                  <%= email_field_tag :email, "", class: "form-control", placeholder: "Email" %>
              </div>
              <div class="form-group">
                  <%= password_field_tag :password, "", class: "form-control", placeholder: "Password"  %>
              </div>
                  <%= submit_tag "Log In", class: "btn btn-default" %>
              </div>
      <% end %>
    </div>

  <div class="col-xs-6 text-center tick_no">
    <!-- Sign up if not signed in -->
    <button type="button" name="button" id="btn_ticketter_no_signup" class="btn btn-default"><p>Post Ticketter Location without Sign Up</p></button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 btn btn-lg btn-default" id="sign_up">
      <%= link_to "Sign Up", new_user_path %>
  </div>
    <% end %>
</div>



<!-- If current user signed in -->
<% if current_user.present? %>
  <div class="col-xs-6 checkins ">
    <!-- Title -->
    <h4 class="top_word">For</h4>
      <h3 id="you">You</h3>
      <!-- Map Image -->
        <img src="map_van.png" alt="" class="map_van1" />
          <i class="fa fa-map-marker fa-3x"></i>
          <!--  -->
    <button type="button" name="button" id="btn_location">Check-In</button>
      <button type="button" name="button" id="btn_location_signout">Check-Out</button>
    <p class="checkin_explain">
      Click to save location of your parked vehicle so that other
      users can notify you of ticketters
    </p>
<!-- current user checkin with timer -->
  <span id="time">Timer:</span> <input id="hour" name="hour" ><span id="time"> : </span><input id="min" name="min"><br>
  <input type="button" id= "check_timer" value="Check-In + Timer">

    <h4>Forgot to Check-in?</h4>
    <button type="button" name="button" id="btn_forgot_checkin">Check-In</button>

  <!-- Finds current user_id -->
    <input type="hidden" id="current_user" value="<%= current_user.id %>" />

  </div>
  <div class="col-xs-6 pull-right">
    <h4 class="top_word">Other</h4>
    <h3 id="vanppl">Vancouverites</h3>
        <img src="map_van.png" alt="" class="map_van" />
        <i class="fa fa-bullseye fa-3x"></i>
        <button type="button" name="button" id="btn_ticketter">Ticketter Location</button>
        <p class="ticket_explain">
          Send in your location so that other users know that a ticketter is near
        </p>
        <h4>Direct Message a User by License Plate</h4>
        <button type="button" name="button" id="btn_notify_towed">Towed</button>
        <button type="button" name="button" id="btn_notify_ticket">Ticketted</button>
        <button type="button" name="button" id="btn_notify_custom">Custom</button>
      <h4>Map of Recent Ticketters</h4>
        <button type="button" name="button" id="btn_recent_ticketters">Map</button>
  </div>



  <!-- Modal -->
    <!-- <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog"> -->

        <!-- Modal content-->
        <!-- <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal Methods</h4>
          </div>
          <div class="modal-body">
            <p>The <strong>show</strong> method shows the modal and the <strong>hide</strong> method hides the modal.</p>
          </div>
        </div>

      </div>
    </div>
  </div> -->
<% end %>














<!-- <div class="loca">

</div>
    <%= content_tag :div, class: "loca", data: {latitude: @latitude} do %>

    <% end %> -->
  <!-- FONT AWESOME FOR SPINNER -->
    <div id="map"></div>
</body>
