

<!-- Map styles -->
<style type="text/css">
  /*html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: 50%; }*/

  .body{
  background-image:url(van.jpg)
}
  .tick_no {
    position: relative;
    top: 50px;
  }

  p {

    white-space: normal;
  }

  #sign_up {
    /*width: 100px;*/
    /*padding-right: 4px;*/
    /*position: relative;
    left: 36%;*/
    /*float: right;*/
  }

  .title {
    color: rgba(109, 109, 109, 0.4);
    font-size: 2em;
    text-shadow: 1px 1px white, -1px -1px #444;
    /*margin: 0px;
    margin-right: 20px;*/

    position: absolute;
    top: 230px;


    /*text-shadow:1px 1px white,
             0 6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 1px 3px rgba(0,0,0,.3),
             0 3px 5px rgba(0,0,0,.2),
             0 5px 10px rgba(0,0,0,.25),
             0 10px 10px rgba(0,0,0,.2),
             0 20px 20px rgba(0,0,0,.15);*/
  }
  h3,h4 {
    color: white;
  }
  .checkins {
    float: left;
  }
  #btn_location, #btn_location_signout, #btn_location_with_timer {
    padding: 2px;
    margin: 3px;
        box-shadow: 1px 1px 3px black;
  }
  #check_timer {
    float: left;
    margin-bottom: 1px;
  }
  .timer_to{
    /*float: left;*/
  }
  select {
    margin-top: 5px;
    margin-left: 5px;
  }
  .map_van {
    width: 75px;
    height: 75px;
    position: relative;
    left: 21%;
    margin: 3px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px black;
  }
  .map_van1 {
    width: 75px;
    height: 75px;
    position: relative;
    left: 21%;
    margin: 3px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px black;
  }
  .fa-bullseye {
    position: relative;
    right: 18%;
  }
  .fa-map-marker {
    position: relative;
    right: 18%;
  }
  .ticket_explain, .checkin_explain{
    font-size: .5em;
    color: white;
  }
  .checkin_explain {
    position: absolute;
    top: 250px;
  }
  .top_word {
    margin: 0px;
  }
  #you, #vanppl {
    margin: 0px;
    font-size: 1.6em;
  }
  #hour, #min {
    width: 35px;
    margin-bottom: 3px;
  }
  #btn_location_signout {
    /*float: right;*/
    /*position: absolute;
    top: 125px;
    padding: 0px;*/
    margin-right: 6px;
        box-shadow: 1px 1px 3px black;
  }
  #time {
    color: white;
  }
  #check_timer {
    position: absolute;
    top: 87px;
    left: 93px;
    z-index: 1;
    box-shadow: 1px 1px 3px black;

  }
  .move_timer {
    position: absolute;
    top: 157px;
    left: 89px;
  }
  .forgot {
    background-color: rgba(242, 242, 242, 0.8);
    width: 100px;
    float: left;
    margin: 3px;
    padding: 2px;
    border-radius: 15px;
  }
  .recent {
    background-color: rgba(242, 242, 242, 0.8);
    width: 100px;
    float: right;
    margin: 3px;
    padding: 2px;
    border-radius: 15px;
  }
  .direct_message {
    background-color: rgba(242, 242, 242, 0.8);
    width: 100px;
    float: right;
    margin: 3px;
    padding: 2px;
    border-radius: 15px;
  }
  #row2 {
    position: absolute;
    top: 260px;
    left: 20px;
  }
  .row{
    margin-left: 1px;
  }
  #btn_ticketter {
    margin: 2px;
    padding: 24px 5px;
        box-shadow: 1px 1px 3px black;
  }
  .line {
    color: rgba(109, 109, 109, 0.4);
    font-size: 2.0em;
    position: absolute;
    top: 200px;
    left: 50px;
  }
  .checkin_block{
    background-color: rgba(242, 242, 242, 0.8);
    width: 157px;
    height: 190px;
    border-radius: 15px;
        margin: 3px;
        padding: 1px;
  }
  .tick_block {
    background-color: rgba(242, 242, 242, 0.8);
    width: 157px;
    height: 190px;
    border-radius: 15px;
    margin: 3px;
    padding-left: 8px;
    position: absolute;
    top: 0px;
    right: 50px;
  }
  #min, #hour {
        box-shadow: 1px 1px 3px black;
  }
  #slideshow {
    margin: 5px auto;
    position: relative;
    width: 100%;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    background-color: rgba(242, 242, 242, 0.4);
  border-radius: 15px;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

}
.img_size {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.login_block {
    background-color: rgba(242, 242, 242, 0.8);
    width: 157px;
    height: 200px;
    border-radius: 15px;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: 45px;
}
.tick_no_sign_block {
  background-color: rgba(242, 242, 242, 0.8);
  width: 157px;
  height: 200px;
  border-radius: 15px;
  padding: 5px;
  position: relative;
  bottom: 4px;

}
#btn_ticketter_no_signup {
  padding: 7px 12px;
}

</style>
<body class="body">
<!-- Login if user is not signed in -->
      <% if !current_user.present? %>
      <div class="row">
        <div class="col-xs-12">
          <div id="slideshow">
             <div>
               <img src="tick_1.jpg" class="img_size">
             </div>
             <div>
               <img src="tick_2.jpg" class="img_size">
             </div>
             <div>
               <img src="tick_3.jpg" class="img_size"/>
             </div>
             <div>
               <img src="tick_4.jpg" class="img_size">
             </div>
             <div>
               <img src="tick_5.jpg" class="img_size">
             </div>
          </div>
          <h1 class="title text-center">Off with a Warning</h1>
        </div>
      </div>
<div class="row">
    <div class="col-xs-6">
      <div class="login_block">

        <i class="fa fa-sign-in fa-4x"></i>
          <%= form_tag sessions_path do %>
            <div class="form-inline">
              <div class="form-group">
                  <%= email_field_tag :email, "", class: "form-control", placeholder: "Email" %>
              </div>
              <div class="form-group">
                  <%= password_field_tag :password, "", class: "form-control", placeholder: "Password"  %>
              </div>
                  <%= submit_tag "Log In", class: "btn btn-default" %>
              </div>
            </div>
      <% end %>
    </div>

  <div class="col-xs-6 text-center tick_no">
    <!-- Sign up if not signed in -->
    <div class="tick_no_sign_block">


    <button type="button" name="button" id="btn_ticketter_no_signup" class="btn btn-default"><i class="fa fa-map fa-4x"></i><br>Post <br>Ticketter <br>Location</button>
<div class=" btn btn-lg btn-default"id="sign_up">

  <%= link_to "Sign Up", new_user_path %>
</div>
</div>
  </div>
</div>

<div class="row">
  <!-- <div class="col-xs-12 btn btn-lg btn-default" id="sign_up">
  </div> -->
    <% end %>
</div>



<!-- If current user signed in -->
<% if current_user.present? %>
<div class="row">

  <div class="col-xs-6 checkins ">
    <!-- Title -->
    <!-- <h4 class="top_word">For</h4>
      <h3 id="you">You</h3> -->
<div class="checkin_block">

      <!-- Map Image -->
        <img src="map_van.png" alt="" class="map_van1" />
          <i class="fa fa-map-marker fa-3x"></i>
          <!--  -->
    <button type="button" name="button" id="btn_location">Check-In</button>
  <input type="button" id= "check_timer" value="Check-In&#x00A;+&#x00A;Timer">
<div class="move_timer">

 <input id="hour" name="hour" ><span id="time"> : </span><input id="min" name="min">
</div>
    <!-- <p class="checkin_explain">
      Click to save location of your parked vehicle so that other
      users can notify you of ticketters
    </p> -->
<!-- current user checkin with timer -->

      <button type="button" name="button" id="btn_location_signout">Check<br>Out</button>
</div>
</div>

    <div class="col-xs-6 pull-right">
  <!-- Finds current user_id -->
    <input type="hidden" id="current_user" value="<%= current_user.id %>" />


    <!-- <h4 class="top_word">Other</h4>
    <h3 id="vanppl">Vancouverites</h3> -->
    <div class="tick_block">

        <img src="map_van.png" alt="" class="map_van" />
        <i class="fa fa-bullseye fa-3x"></i>
        <button type="button" name="button" id="btn_ticketter">Ticketter Location</button>
      </div>
        <!-- <p class="ticket_explain">
          Send in your location so that other users know that a ticketter is near
        </p> -->
</div>
</div>

<p class="line">
  off with a warning
</p>

  <div class="row" id="row2">

    <div class="col-xs-12">
      <div class="forgot text-center">
        <h4>Forgot to Check-in? </h4><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <i class="fa fa-map-marker fa-4x"></i>
        <button type="button" name="button" id="btn_forgot_checkin">Check-In</button>
      </div>

      <div class="direct_message text-center">
      <h4>IM a User by License Plate</h4>
      <i class="fa fa-comment fa-4x"></i>
      <!-- <button type="button" name="button" id="btn_notify_towed">Towed</button>
      <button type="button" name="button" id="btn_notify_ticket">Ticketted</button> -->
      <button type="button" name="button" id="btn_notify_custom">Custom</button>
    </div>

      <div class="recent text-center">
      <h4>Map of Recent Ticketters</h4>
      <i class="fa fa-map fa-4x"></i>
      <button type="button" name="button" id="btn_recent_ticketters">Map</button>
    </div>

    </div>
  </div>



<% end %>













<!-- <div class="loca">

</div>
    <%= content_tag :div, class: "loca", data: {latitude: @latitude} do %>

    <% end %> -->
  <!-- FONT AWESOME FOR SPINNER -->
    <div id="map"></div>
</body>

<script>
// $('i').mouseover(function() {
//   $(this).stop().animate({height : "100px"})
// });


$('#btn_location_signout').toggle();


// hide login and show logout
$(document).on('click', '#btn_location', function () {
  $('#btn_location_signout').addClass('ui-btn-right').toggle();
  $(this).removeClass('ui-btn-right').toggle();
});

// hide logout and show login
$(document).on('click', '#btn_location_signout', function () {
  $('#btn_location').addClass('ui-btn-right').toggle();
  $(this).removeClass('ui-btn-right').toggle();
});

$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3000);


</script>
