

<h1>send in location without sign up</h1>


    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 50%; }
    </style>
<% if !current_user.present? %>
    <h1>Login</h1>
    <%= form_tag sessions_path do %>
      <div>
        <%= label_tag :email %>
        <%= email_field_tag :email %>
      </div>
      <div>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div>
        <%= submit_tag "Log In" %>
      </div>
    <% end %>
<h1>sign up</h1>
<%= link_to "Sign Up", new_user_path %>
<button type="button" name="button" id="btn_ticketter_no_signup">Post Ticketter Location without Sign Up</button>

    <% end %>

    <div id="map"></div>
<button type="button" name="button" id="btn_location">Check-In</button>
<button type="button" name="button" id="btn_ticketter">Ticketter Location</button>
<button type="button" name="button" id="btn_location_signout">Check-Out</button>

<%= form_for @checkin_location do |f| %>
<div>
  <%= f.label :timer %>
  <%= f.time_select :timer %>
</div>
<%= f.submit "Check-In with Timer", id: "btn_location_with_timer"%>
<% end %>
<!-- <button type="button" name="button" id="btn_location_with_timer">Check-In with Timer</button> -->



<% if current_user.present? %>
<input type="hidden" id="current_user" value="<%= current_user.id %>" />
<% end %>
<div class="loca">

</div>
    <%= content_tag :div, class: "loca", data: {latitude: @latitude} do %>

    <% end %>
  <!-- FONT AWESOME FOR SPINNER -->
